[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "frailtyMMpen"]
	path = frailtyMMpen
	url = https://github.com/heilokchow/frailtymmpen
